{% extends 'base.html' %}
{% load static %}
{% block title %}Courtyard{% endblock title %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    <a class="nav-link active" href="{% url 'house' %}">Houses</a>
                    <a class="nav-link active" href="{% url 'courtyard' %}">Courtyards</a>
                    <a class="nav-link active" href="{% url 'apartment' %}">Apartments </a>
                    <a class="nav-link active" href="{% url 'contract' %}">Contract</a>
                    <a class="nav-link active" href="{% url 'nocontract' %}">No Contract</a>
                    <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="row mt-5 mb-5">
        {% for courtyard in courtyards %}
        <div class="col-sm-6">
            <div class="card">
                <img src="/media/{{ courtyard.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ courtyard.title }}</h5>
                    <p class="card-text mb-3">{{ courtyard.description }}</p>
                    <h6 class="card-text">{{ courtyard.rent_house }} | {{ courtyard.rent_contract }}</h6>
                    <h6 class="card-text">{{ courtyard.price }} so'm | {{ courtyard.location }}</h6>
                    <a href="#" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}