{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        <a class="nav-link active" href="{% url 'house' %}">Houses</a>
                        <a class="nav-link active" href="{% url 'travel' %}">Travels</a>
                        <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
        <h4 class="mt-5">{{ user.full_name }}, Xush kelibsiz! Bizni platformamizga</h4>
    {% else %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        <a class="nav-link active" href="{% url 'login' %}">Houses</a>
                        <a class="nav-link active" href="{% url 'login' %}">Travels</a>
                        <a class="nav-link active" href="{% url 'login' %}">Login</a>
                        <a class="nav-link active align-right" href="{% url 'signup' %}">Sign Up</a>
                    </div>
                </div>
            </div>
        </nav>
        <h3 class="mt-5">Siz ro'yxatdan o'tmagansiz yoki saytga kirmagansiz!</h3>
        <p class="">Saytga kirish uchun yuqoridagi Login yoki ro'yxatdan o'tish uchun SignUp tugmasini bosing!</p>
    {% endif %}
{% endblock content %}
</body>
</html>
